<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="Path" value="C:\OwnProjects\PhotoViewer\PhotoViewer\bin\Debug" />
    <add key="PhotoLoadDelay" value="0" />
    <add key="OnlyLoadPhotoFiles" value="True" />
    
    <add key="UseSlideShow" value="True" />
    <add key="RandomizeSlideShow" value="False" />
    <add key="SlideShowStartDelay" value="5000" />
    <add key="SlideShowPhotoDelay" value="1500" />
  
    <add key="EventOnCreate" value="True" />
    <add key="EventOnChange" value="True" />
    <add key="EventOnRename" value="True" />
  </appSettings>
</configuration>
